@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

/* Helper CSS */
.flex-equal-col{
    flex-grow: 1;
    flex-basis: 0;
}
#nav a:hover,
#nav a.router-link-exact-active{
    @apply tw-text-tertiary !important;
}
#nav a > img.active,
#nav a > img.invert{
    display: none;
}
#nav a:hover > img.active,
#nav a.router-link-exact-active > img.active{
    display: inline-block;
}
#nav a:hover > img:not(.active):not(.invert),
#nav a.router-link-exact-active > img:not(.active):not(.invert){
    display: none;
}
.dark-mode #nav a > img:not(.active):not(.invert){
    display: none;
}
.dark-mode #nav a > img.invert{
    display: inline-block;
}
.dark-mode #nav a:hover > img.invert,
.dark-mode #nav a.router-link-exact-active > img.invert{
    display: none;
}

.btn-primary{
    @apply tw-bg-tertiary tw-text-white;
}
.btn-primary:not(.tw-cursor-not-allowed):hover,
.btn-primary:not(.tw-cursor-not-allowed):visited{
    @apply tw-bg-black;
}
.comments-down-arrow{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top-width: 10px;
}
.base-map-list a:hover{
    @apply tw-text-tertiary !important;
}
.base-map-list a:hover img{
    @apply tw-border-tertiary !important;
}

/** Tree View **/
ul.tree-view li{
    position: relative;
    margin-top: 12px;
}
ul.tree-view ul{
    display: none;
    padding-left: 48px;
}
ul.tree-view li.active > ul{
    display: block;
}
ul.tree-view li.has-child > .toggle{
    position: absolute;
    top: 5px;
    right: 5px;
    border: 0 !important;
    box-shadow: none !important;
    outline: none !important;
}
ul.tree-view li.has-child > .toggle:after{
    content: "\f0d8";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
}
ul.tree-view li.has-child.active > .toggle:after{
    content: "\f0d7";
}
ul.tree-view li > .v-input{
    padding-right: 20px;
    margin: 0;
}
ul.tree-view .v-input .v-label{
    color: #000;
}


/*** Override Styles ***/
.v-input--switch--inset .v-input--switch__track {
    opacity: 1 !important;
}
.v-input--switch--inset .v-input--switch__thumb {
    border: 2px solid #fff !important;
    /*top: calc(50% - 12px) !important;
    height: 24px !important;
    width: 24px !important;
    right: 2px !important;*/
}
.v-input--switch--inset .v-input--switch__track{
    height: 100%;
    top: 0;
}
.v-input--switch--inset .v-input--switch__track, .v-input--switch--inset .v-input--selection-controls__input{
    width: 42px;
    left: 0;
}
.v-input--switch.v-input--dense.v-input--switch--inset .v-input--switch__track{
    width: 38px;
}
.v-application--is-ltr .v-input--switch--inset .v-input--selection-controls__ripple, .v-application--is-ltr .v-input--switch--inset .v-input--switch__thumb {
    -webkit-transform: translate(3px, 0) !important;
    transform: translate(3px, 0) !important;
}
.v-application--is-ltr .v-input--switch--inset.v-input--is-dirty .v-input--selection-controls__ripple, .v-application--is-ltr .v-input--switch--inset.v-input--is-dirty .v-input--switch__thumb {
    -webkit-transform: translate(20px, 0) !important;
    transform: translate(20px, 0) !important;
}
.v-input--selection-controls__ripple{
    display: none !important;
}


.v-slider__thumb-container .v-slider__thumb:before {
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
}
.v-slider--horizontal .v-slider__track-container{
    -webkit-box-shadow: 0 0 0 2px #F0F2F4 !important;
    -moz-box-shadow: 0 0 0 2px #F0F2F4 !important;
    box-shadow: 0 0 0 2px #F0F2F4 !important;
    border-radius: 20px;
}

.v-dialog{
    background: #fff !important;
}

.theme--light.v-label{
    color: #000;
}

/** Dark Mode **/
.dark-mode .sidebar{
    @apply tw-bg-black tw-text-white !important;
}
.dark-mode #nav{
    border-color: rgba(255,255,255,0.2);
}

/** Sidebar Toggle **/
#sidebar{
    transition: all ease 0.3s;
    @apply tw-w-20;
}
.sidebar-content{
    
}
#sidebar #nav{
    @apply tw-w-20;
}
#sidebar:not(.collapse){
    @apply tw-w-120;
}
#sidebar .toggle-sidebar{
    @apply tw-absolute tw-z-10 tw-right-0 tw-mt-2 tw--mr-3 tw-flex tw-items-center tw-justify-center tw-w-8 tw-h-8 tw-border tw-border-lightgray tw-rounded-full tw-bg-tertiary tw-text-white;
}
#sidebar .toggle-sidebar:after{
    content: "\f053";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
}
#sidebar.collapse .toggle-sidebar:after{
    content: "\f054";
}

#sidebar.collapse #logoComponentsDiv{
    @apply tw-fixed tw-top-0 tw-right-0 tw-mr-64;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.7);
}
#sidebar.collapse #logoComponentsDiv #zoning-map-viewer{
    @apply tw-hidden;
}
#sidebar.collapse #sidebarComponentsDiv{
    @apply tw-opacity-0 tw-invisible;
}
#sidebar:not(.collapse) #sidebarComponentsDiv{
    transition: all 0.6s ease 0.2s;
}

/** CSS SCROLL BAR **/
::-webkit-scrollbar-track
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 10px;
    background-color: transparent;
}
::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
	background-color: #A4A5AF;
}

/*** Panel Open/Collapse ***/
.panel > .panel-content{
    display: none;
}
.panel.active > .panel-content{
    display: block;
}
.panel .panel-heading:not(.right):before{
    content: "\f077";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 14px;
    color: #fff;
    @apply tw-bg-tertiary;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    @apply tw-mr-2;
}
.panel.active .panel-heading:not(.right):before{
    content: "\f078";
    line-height: 25px;
}
.panel .panel-heading.right:after{
    content: "\f077";
    display: block;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 14px;
    color: #fff;
    @apply tw-bg-tertiary;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}
.panel.active .panel-heading.right:after{
    content: "\f078";
    line-height: 25px;
}
.blue-arrow-right:after{
    content: "\f054";
    display: block;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 14px;
    color: #fff;
    @apply tw-bg-tertiary;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    text-indent: 1.5px;
}

/** Search home btn **/
.search-home-btn{
    background: rgba(0,0,0,0.08);
}
.dark-mode .search-home-btn{
    background: rgba(255,255,255,0.8);
}

/** Radio Buttons **/
.v-application .v-radio .v-icon{
    font-weight: bold !important;
}
.v-application .yellow-radio .v-icon{
    @apply tw-text-yellowcustom !important;
}
.v-application .green-radio .v-icon{
    @apply tw-text-seagreencustom !important;
}
.v-application .pink-radio .v-icon{
    @apply tw-text-pinkcustom !important;
}
.v-application .red-radio .v-icon{
    @apply tw-text-redcustom !important;
}


/** Pagination **/
.pagination-numbers > button{
    @apply tw-mr-3 tw-w-12 tw-h-10 tw-text-center tw-font-bold tw-text-xl tw-rounded-lg tw-outline-none tw-shadow-none tw-border-none;
}
.pagination-numbers > button.active{
    @apply tw-bg-lightgray;
}
.help-video{
    display: none;
}
.help-video.active{
    display: block;
}
.pagination-buttons > button{
    @apply tw-opacity-25 tw-cursor-not-allowed;
}
.pagination-buttons > button.active{
    @apply tw-opacity-100 tw-cursor-pointer;
}
.help-video .video-wrap{
    @apply tw-border tw-border-graycustom;
    background: #E6E6E6;
    /*height: 300px;*/
}
.help-video .video-wrap img{
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.help-video .description{
    /*min-height: 120px;*/
}

/** Map buttons **/
.map-buttons{
    padding-left: 5rem;
}
.sidebar-active .map-buttons{
    padding-left: 30rem;
}
.map-buttons li > a,
.map-buttons li > button{
    @apply tw-block tw-bg-white tw-w-8 tw-h-8 tw-rounded-sm tw-flex tw-items-center tw-justify-center;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}
.map-buttons li > a.tw-w-auto,
.map-buttons li > button.tw-w-auto{
    @apply tw-w-auto tw-px-3 tw-text-sm;
}
.map-buttons li.no-rounded-right > a{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.map-buttons li.no-rounded-left > a{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.map-buttons li > a:hover,
.map-buttons li > button:hover{
    @apply tw-bg-lightgray;
}

/** BASE MAP **/
.base-map{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    transition: all ease 0.2s;
    transition: all ease 0.2s;
    transition: all ease 0.2s;
}
.base-map.collapse{
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    transform: translateY(100%);
}

/** Results Dialog **/
.results-dialog{
    @apply tw-border-2 tw-border-tertiary tw-rounded-lg !important;
}

/** Spin buttons **/
.spin-btns{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99;
    margin-top: -13em;
    margin-left: -13.5em;
    width: 18em;
    height: 18em;
    border-radius: 50%;
    background: transparent;
    opacity: 0;
    -webkit-transition: all .3s ease 0.3s;
    -moz-transition: all .3s ease 0.3s;
    transition: all .3s ease 0.3s;
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -moz-transform: scale(0.1);
    transform: scale(0.1);
    pointer-events: none;
    overflow: hidden;
}
.active > .spin-btns{
    border-radius: 50%;
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    pointer-events: auto;
}
.spin-btns:after {
    content: "";
    display: block;
    font-size: 2.3em;
    width: 4.3em;
    height: 4.3em;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    color: transparent;
    border: 2px solid #000;
    pointer-events: none;
}
.spin-btns ul{
    padding: 0;
    margin: 0;
}
.spin-btns ul li {
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    margin-top: -1em;
    margin-left: -10em;
    width: 10em;
    height: 10em;
    font-size: 1em;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: rotate(75deg) skew(62deg);
    -moz-transform: rotate(75deg) skew(62deg);
    -ms-transform: rotate(75deg) skew(62deg);
    transform: rotate(75deg) skew(62deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    pointer-events: none;
}
.spin-btns ul li:before {
    content: "";
    display: block;
    width: 2px;
    height: 55px;
    background: #000;
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 1;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}
.spin-btns ul li:first-child {
    -webkit-transform: rotate(20deg) skew(18deg);
    -moz-transform: rotate(20deg) skew(18deg);
    -ms-transform: rotate(20deg) skew(18deg);
    transform: rotate(20deg) skew(18deg);
}
.spin-btns ul li:nth-child(2) {
    -webkit-transform: rotate(92deg) skew(18deg);
    -moz-transform: rotate(92deg) skew(18deg);
    -ms-transform: rotate(92deg) skew(18deg);
    transform: rotate(92deg) skew(18deg);
}
.spin-btns ul li:nth-child(3) {
    -webkit-transform: rotate(164deg) skew(18deg);
    -moz-transform: rotate(164deg) skew(18deg);
    -ms-transform: rotate(164deg) skew(18deg);
    transform: rotate(164deg) skew(18deg);
}
.spin-btns ul li:nth-child(4) {
    -webkit-transform: rotate(236deg) skew(18deg);
    -moz-transform: rotate(236deg) skew(18deg);
    -ms-transform: rotate(236deg) skew(18deg);
    transform: rotate(236deg) skew(18deg);
}
.spin-btns ul li:nth-child(5) {
    -webkit-transform: rotate(308deg) skew(18deg);
    -moz-transform: rotate(308deg) skew(18deg);
    -ms-transform: rotate(308deg) skew(18deg);
    transform: rotate(308deg) skew(18deg);
}
.spin-btns ul li a {
    position: absolute;
    right: -7.25em;
    bottom: -7.25em;
    display: block;
    width: 14.5em;
    height: 14.5em;
    border-radius: 50%;
    background: #37383E;
    background: -webkit-radial-gradient(transparent 40%, #37383E 40%);
    background: -moz-radial-gradient(transparent 40%, #08c 40%);
    background: radial-gradient(transparent 40%, #37383E 40%);
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 2;
    -webkit-transform: skew(-18deg) rotate(-75deg) scale(1);
    -moz-transform: skew(-18deg) rotate(-75deg) scale(1);
    -ms-transform: skew(-18deg) rotate(-75deg) scale(1);
    transform: skew(-18deg) rotate(-56deg) scale(1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: auto;
    border-top: 2px solid #000;
}
.spin-btns ul li a span {
    position: relative;
    top: 1.8em;
    display: block;
    font-size: .5em;
    font-weight: 700;
    text-transform: uppercase;
}
.spin-btns ul li:first-child a span{
    -webkit-transform: rotate(36deg);
    -moz-transform: rotate(36deg);
    transform: rotate(36deg);
}
.spin-btns ul li:nth-child(2) a span{
    -webkit-transform: rotate(-36deg);
    -moz-transform: rotate(-36deg);
    transform: rotate(-36deg);
}
.spin-btns ul li:nth-child(3) a span{
    -webkit-transform: rotate(-108deg);
    -moz-transform: rotate(-108deg);
    transform: rotate(-108deg);
}
.spin-btns ul li:nth-child(4) a span{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
.spin-btns ul li:nth-child(5) a span{
    -webkit-transform: rotate(108deg);
    -moz-transform: rotate(108deg);
    transform: rotate(108deg);
}
.spin-btns ul li a img{
    display: inline-block;
}
.spin-btns ul li.active > a{
    background: -webkit-radial-gradient(transparent 40%,  40%);
    background: -moz-radial-gradient(transparent 40%, var(--v-tertiary-base) 40%);
    background: radial-gradient(transparent 40%, var(--v-tertiary-base) 40%);
}
.spin-btns ul li a:hover{
    background: -webkit-radial-gradient(transparent 40%,  40%);
    background: -moz-radial-gradient(transparent 40%, #000 40%);
    background: radial-gradient(transparent 40%, #000 40%);
}

/*** Responsive Work Below ***/
/*****************************/

html{
    font-size: 13px !important;
}

/** MIN **/
@media (min-width: 600px){
    html{
        font-size: 14px !important;
    }
}
@media (min-width: 960px){
    html{
        font-size: 15px !important;
    }
}
@media (min-width: 1264px){
    html{
        font-size: 16px !important;
    }
}
@media (min-width: 1904px){

}


/** MAX **/
@media (max-width: 1264px){
    
}
@media (max-width: 960px){
}
@media (max-width: 600px){
}