@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');


/** Global CSS **/
:root {
    --sidebar-width: 72px;
    --sidebar-active-width: 448px;
    --logo-component-height: 52px;
}
html, body{overflow: hidden;}
.theme--light.v-application{
    @apply tw-text-black;
}
button:visited, button:focus,button:active,
select:visited, select:focus,select:active {
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @apply tw-font-light;
}
::-moz-placeholder { /* Firefox 19+ */
    @apply tw-font-light;
}
:-ms-input-placeholder { /* IE 10+ */
    @apply tw-font-light;
}
:-moz-placeholder { /* Firefox 18- */
    @apply tw-font-light;
}
input[type=text],
textarea,
select{
    @apply tw-text-sm;
}

/* Helper CSS */
.flex-equal-col{
    flex-grow: 1;
    flex-basis: 0;
}
#nav .nav-links > a{
    width: 100%;
    height: var(--sidebar-width);
    padding-bottom: 5px;
    line-height: 1.2;
    font-size: 11px;
    @apply tw-flex tw-flex-col tw-justify-end;
}
#nav .nav-links > a.settings-link{
    padding-bottom: 0;
}
#nav .nav-links > a i.fa-buffer{
    font-size: 24px;
}
#nav .nav-links > a i.fa-cloud-upload-alt{
    font-size: 18px;
}
#nav .nav-links > a i.material-icons.print{
    font-size: 24px;
}
#nav .nav-links > a.router-link-exact-active,
#nav .nav-links > a.router-link-exact-active i,

#nav .nav-links > a.router-link-active,
#nav .nav-links > a.router-link-active i{
    @apply tw-text-tertiary !important;
}
#nav .nav-links > a img.active,
#nav .nav-links > a img.invert{
    display: none;
}
#nav .nav-links > a.router-link-exact-active img.active,
#nav .nav-links > a.router-link-active img.active{
    display: inline-block;
}
#nav .nav-links > a.router-link-exact-active img:not(.active):not(.invert),
#nav .nav-links > a.router-link-active img:not(.active):not(.invert){
    display: none;
}

.btn-primary{
    @apply tw-bg-tertiary tw-text-white;
}
.btn-primary:not(.tw-cursor-not-allowed):hover,
.btn-primary:not(.tw-cursor-not-allowed):visited{
    @apply tw-bg-black;
}
.comments-down-arrow{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top-width: 10px;
}
.base-map-list a:hover,
.base-map-list a.active{
    @apply tw-text-tertiary !important;
}
.base-map-list a:hover img,
.base-map-list a.active img{
    @apply tw-border-tertiary !important;
}

.input-global{
    height: 36px;
}

/** Tree View **/
ul.tree-view li{
    position: relative;
    margin-top: 12px;
}
ul.tree-view ul{
    display: none;
    padding-left: 48px;
}
ul.tree-view li.active > ul{
    display: block;
}
ul.tree-view li.has-child > .toggle{
    position: absolute;
    top: 5px;
    right: 5px;
    border: 0 !important;
    box-shadow: none !important;
    outline: none !important;
}
ul.tree-view li.has-child > .toggle:after{
    content: "\f0d8";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
}
ul.tree-view li.has-child.active > .toggle:after{
    content: "\f0d7";
}
ul.tree-view li > .v-input{
    padding-right: 20px;
    margin: 0;
}
ul.tree-view .v-input .v-label{
    color: #000;
    height: auto;
    @apply tw-text-base;
}


/*** Override Styles ***/
.v-input--switch--inset .v-input--switch__track {
    opacity: 1 !important;
}
.v-input--switch--inset .v-input--switch__thumb {
    border: 2px solid #fff !important;
    /*top: calc(50% - 12px) !important;
    height: 24px !important;
    width: 24px !important;
    right: 2px !important;*/
}

.v-application--is-ltr .v-input--selection-controls__input{
    margin-right: 0.5rem;
}
.v-input--switch--inset .v-input--switch__track{
    height: 100%;
    top: 0;
}
.v-input--switch--inset .v-input--switch__track, .v-input--switch--inset .v-input--selection-controls__input{
    width: 38px;
    left: 0;
}
.v-input--switch.v-input--dense.v-input--switch--inset .v-input--switch__track{
    width: 38px;
}
.v-application--is-ltr .v-input--switch--inset .v-input--selection-controls__ripple, .v-application--is-ltr .v-input--switch--inset .v-input--switch__thumb {
    -webkit-transform: translate(2px, 0) !important;
    transform: translate(2px, 0) !important;
}
.v-application--is-ltr .v-input--switch--inset.v-input--is-dirty .v-input--selection-controls__ripple, .v-application--is-ltr .v-input--switch--inset.v-input--is-dirty .v-input--switch__thumb {
    -webkit-transform: translate(16px, 0) !important;
    transform: translate(16px, 0) !important;
}
.theme--light.v-input--switch .v-input--switch__track,
.theme--light.v-input--switch .v-input--switch__thumb{
    @apply tw-text-switchoffgray;
}
.v-input--selection-controls__ripple{
    display: none !important;
}


.v-slider__thumb-container .v-slider__thumb:before {
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
    opacity: 0.2;
}
.v-slider--horizontal .v-slider__track-container{
    -webkit-box-shadow: 0 0 0 2px #F0F2F4 !important;
    -moz-box-shadow: 0 0 0 2px #F0F2F4 !important;
    box-shadow: 0 0 0 2px #F0F2F4 !important;
    border-radius: 20px;
}

.v-dialog{
    background: #fff !important;
}

.theme--light.v-label{
    color: #000;
}
.v-label{
    @apply tw-text-base;
}
.v-icon.v-icon {
    font-size: 1.5rem;
}

.v-application p{
    margin-bottom: 10px;
}

/** Dark Mode **/
.dark-mode .sidebar{
    @apply tw-bg-darkmodegray tw-text-white !important;
}
.dark-mode #nav .nav-links{
    border-color: rgba(255,255,255,0.2);
}
.dark-mode #nav .nav-links > a img:not(.active):not(.invert){
    display: none;
}
.dark-mode #nav .nav-links > a img.invert{
    display: inline-block;
}
.dark-mode #nav .nav-links > a.router-link-exact-active img.invert,
.dark-mode #nav .nav-links > a.router-link-active img.invert{
    display: none;
}
.dark-mode .mobile-toolbox-btn span{
    @apply tw-text-white;
}



/** CSS SCROLL BAR **/
::-webkit-scrollbar-track
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 12px;
    background-color: transparent;
}
::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}
::-webkit-scrollbar-thumb
{
	border-radius: 12px;
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
	background-color: #A4A5AF;
}

/*** Panel Open/Collapse ***/
.panel{
    @apply tw-px-4;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}
.panel > .panel-content{
    display: none;
}
.panel.active > .panel-content{
    display: block;
}
.panel .panel-heading:not(.right):before{
    content: "\f054";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 0.7rem;
    color: #fff;
    background: url("../img/blue_circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    width: 22px;
    height: 22px;
    line-height: 23px;
    text-align: center;
    @apply tw-mr-2;
}
.panel.active .panel-heading:not(.right):before{
    content: "\f078";
    line-height: 24px;
}
.panel .panel-heading.right:after{
    content: "\f077";
    display: block;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 0.7rem;
    color: #fff;
    background: url("../img/blue_circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}
.panel.active .panel-heading.right:after{
    content: "\f078";
    line-height: 24px;
}
.blue-arrow-right:after{
    content: "\f054";
    display: block;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 0.7rem;
    color: #fff;
    background: url("../img/blue_circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    text-indent: 1.5px;
}

/** Search home btn **/
.search-home-btn{
    width: 44px;
    background: rgba(0,0,0,0.05);
}
.search-home-btn .invert{display: none;}
.dark-mode .search-home-btn{
    background: rgba(255,255,255,0.08);
}
.dark-mode .search-home-btn img{display: none;}
.dark-mode .search-home-btn .invert{display: block;}

/** Radio Buttons **/
.v-application .v-radio .v-icon{
    font-weight: bold !important;
}
.v-application .yellow-radio .v-icon{
    @apply tw-text-yellowcustom !important;
}
.v-application .green-radio .v-icon{
    @apply tw-text-seagreencustom !important;
}
.v-application .pink-radio .v-icon{
    @apply tw-text-pinkcustom !important;
}
.v-application .red-radio .v-icon{
    @apply tw-text-redcustom !important;
}


/** Pagination **/
.pagination-numbers > button{
    @apply tw-mr-3 tw-w-12 tw-h-10 tw-text-center tw-font-bold tw-text-xl tw-rounded-lg tw-outline-none tw-shadow-none tw-border-none;
}
.pagination-numbers > button.active{
    @apply tw-bg-lightgray;
}
.help-video{
    display: none;
}
.help-video.active{
    display: block;
}
.pagination-buttons > button{
    @apply tw-opacity-25 tw-cursor-not-allowed;
}
.pagination-buttons > button.active{
    @apply tw-opacity-100 tw-cursor-pointer;
}
.help-video .video-wrap{
    @apply tw-border tw-border-graycustom;
    background: #E6E6E6;
    height: 300px;
}
.help-video .video-wrap img{
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.help-video .description{
    /*min-height: 120px;*/
    @apply tw-text-xs;
}

/** Map buttons **/
.map-buttons li > a,
.map-buttons li > button{
    @apply tw-block tw-bg-white tw-w-8 tw-h-8 tw-rounded-sm tw-flex tw-items-center tw-justify-center;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}
.map-buttons li > a.tw-w-auto,
.map-buttons li > button.tw-w-auto{
    @apply tw-w-auto tw-px-3 tw-text-sm;
}
.map-buttons li.no-rounded-right > a{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.map-buttons li.no-rounded-left > a{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.tablet-menu-btn:hover,
.map-buttons li > a:hover,
.map-buttons li > button:hover{
    @apply tw-bg-graycustom;
}
/*.map-buttons li > a.social-icon{
    @apply tw-bg-black;
    width: auto;
    height: 1.9rem;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    @apply tw-text-4xl;
}
.map-buttons li > a.social-icon i{
    color: #fff;
}
.map-buttons li > a.social-icon.facebook i{
    color: #3b5998;
}
.map-buttons li > a.social-icon.twitter i{
    color: #1DA1F2;
}
.map-buttons li > a.social-icon.linkedin i{
    color: #0e76a8;
}
.map-buttons li > a.social-icon.youtube i{
    color: #c4302b;
}*/
.tablet-menu-btn{
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}
body.sidebar-active #sidebar .tablet-menu-btn-wrap{
    margin-left: var(--sidebar-active-width);
}


/** BASE MAP **/
body.basemap-active .base-map{
    @apply tw-block;
}

/** Results Dialog **/
.results-dialog{
    @apply tw-bg-tertiary tw-border-2 tw-border-tertiary tw-rounded-lg tw-overflow-hidden !important;
}

/** Spin buttons **/
.spin-btns{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99;
    opacity: 0;
    -webkit-transition: all .3s ease 0.3s;
    -moz-transition: all .3s ease 0.3s;
    transition: all .3s ease 0.3s;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
}
.active > .spin-btns{
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    pointer-events: auto;
}
.spin-btns .intersection:hover{
    fill: var(--v-tertiary-base) !important;
    cursor: pointer;
    transition: fill .2s ease;
}
.spin-btns .intersection.active{
    fill: var(--v-tertiary-base) !important;
}
.spin-btns .icon{
    pointer-events: none;
}

/*** Tooltip ***/
[data-tooltip]{
    @apply tw-relative;
}
[data-tooltip]:before {            
    position: absolute;
    content: attr(data-tooltip);
    opacity: 0;
    font-size: 12px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    padding: 3px 15px;
    border-radius: 4px;
    pointer-events: none;
    bottom: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
    margin-bottom: 10px;
}
[data-tooltip]:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 5px;
    opacity: 0;
}
[data-tooltip][data-tooltip-position="right"]:before{
    bottom: 50%;
    left: 100%;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    transform: translateY(50%);
    margin-bottom: 0;
    margin-left: 10px;
}
[data-tooltip][data-tooltip-position="right"]:after{
    bottom: 50%;
    left: 100%;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    transform: translateY(50%);
    border-right: 5px solid rgba(0, 0, 0, 0.7);
    border-left: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    margin-bottom: 0;
    margin-left: 5px;
}
[data-tooltip][data-tooltip-oneline="false"]:before{
    white-space: normal;
    min-width: 200px;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {        
    opacity : 1;
}


/** Drawing Tools **/
ul.drawing-tools{
    padding: 0;
}
ul.drawing-tools li{
    padding: 4px;
}
ul.drawing-tools li a{
    padding: 10px;
}


/** V logo **/
#v-logo{
    height: var(--logo-component-height);
}
body.sidebar-active #v-logo{
    @apply tw-fixed tw-top-0 tw-right-0 tw-mt-4 tw-mr-4 tw-h-auto;
}
body:not(.sidebar-active) #sidebar .toggle-sidebar {
    @apply tw-border-white tw-bg-lightgray tw-text-black;
}
body:not(.sidebar-active) .dark-mode #sidebar .toggle-sidebar{
    @apply tw-border-graycustom tw-bg-darkmodegray tw-text-graycustom;
}


/** Sidebar **/
.panel-fix-width{width: 352px;}
#show-next-links, #show-prev-links{display: none;}
#show-prev-links{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
#show-next-links img.invert, #show-prev-links img.invert{
    display: none;
}
.dark-mode #show-next-links img.invert, .dark-mode #show-prev-links img.invert{
    display: block;
}
.dark-mode #show-next-links img:not(.invert), .dark-mode #show-prev-links img:not(.invert){
    display: none;
}
.menu-separator{
    @apply tw-hidden tw-absolute tw-bottom-0 tw-left-0 tw-right-0 tw-mx-auto tw-w-4/5 tw-border-t tw-border-graycustom;
}
.dark-mode .menu-separator{
    @apply tw-opacity-25;
}

/*** Responsive Work Below ***/
/*****************************/
html{
    font-size: 14px !important;
}
/** MIN **/
@media (min-width: 480px){
    html{
        font-size: 16px !important;
    }

    
    /** Sidebar Header **/
    #logoComponentsDiv{
        height: var(--logo-component-height);
    }

    body.sidebar-active #sidebar{
        width: var(--sidebar-active-width);
    }
    #sidebar .toggle-sidebar{
        @apply tw-absolute tw-z-10 tw-right-0 tw--mr-3 tw-flex tw-items-center tw-justify-center tw-w-8 tw-h-8 tw-border tw-border-lightgray tw-rounded-full tw-bg-tertiary tw-text-white;
        max-width: 30px;
        max-height: 30px;
        top: 11px;
    }
    #sidebar .toggle-sidebar:hover{
        @apply tw-bg-lightgray tw-text-black;
    }
    .dark-mode #sidebar .toggle-sidebar:hover{
        @apply tw-border-graycustom tw-bg-darkmodegray tw-text-graycustom;
    }
    #sidebar .toggle-sidebar:after{
        content: "\f053";
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
    }
    body:not(.sidebar-active) #sidebar .toggle-sidebar:after{
        content: "\f054";
    }

    body:not(.sidebar-active) #sidebar #logoComponentsDiv{
        @apply tw-fixed tw-top-0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
        border-radius: 0px 0px 25px 25px;
        box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.7);
        height: 41px;
        padding-left: 10px;
        padding-right: 25px;
    }
    body:not(.sidebar-active) #sidebar #logoComponentsDiv img{max-height: 27px;}
    body:not(.sidebar-active) #sidebar #logoComponentsDiv a{@apply tw-text-sm;}
    body:not(.sidebar-active) #sidebar #logoComponentsDiv #zoning-map-viewer{
        @apply tw-hidden;
    }
    body:not(.sidebar-active) #sidebar #sidebarComponentsDiv{
        @apply tw-opacity-0 tw-invisible;
    }
}
@media (min-width: 769px){
    

    /** Sidebar Toggle **/
    #sidebar{
        width: var(--sidebar-width);
    }
    body:not(.sidebar-active) #sidebar{
        width: 0;
    }
    body:not(.sidebar-active) #sidebar > *:not(#logoComponentsDiv):not(.tablet-menu-btn-wrap){
        @apply tw-hidden;
    }
    #sidebar #nav{
        width: var(--sidebar-width);
    }
    body.sidebar-active #sidebar{
        width: var(--sidebar-active-width);
    }
    .menu-separator{@apply tw-block;}

    

    #nav .nav-links > a.search-link{
        display: none;
    }
    #nav .nav-links > a:not(.search-link):not(.settings-link){
        @apply tw-hidden;
    }
    #nav .nav-links > a.show-links:not(.search-link):not(.settings-link){
        @apply tw-flex;
    }
        
    #nav .nav-links > a:not(.settings-link):not(.router-link-exact-active):not(.router-link-active):hover{
        background: rgba(0,0,0,0.08);
    }
    .dark-mode #nav .nav-links > a:not(.settings-link):not(.router-link-exact-active):not(.router-link-active):hover{
        background: rgba(255,255,255,0.1);
    }
}
@media (min-width: 992px){
    
    
    
}
@media (min-width: 1024px){
    .map-buttons{
        padding-left: var(--sidebar-width);
    }
    .sidebar-active .map-buttons{
        padding-left: var(--sidebar-active-width);
    }
    body:not(.sidebar-active) #sidebar{
        width: var(--sidebar-width);
    }
    body:not(.sidebar-active) #sidebar > *:not(#logoComponentsDiv):not(.tablet-menu-btn-wrap){
        @apply tw-flex;
    }
    body:not(.sidebar-active) .dark-mode #v-logo{@apply tw-invisible;}
}
@media (min-width: 1264px){
    
    
    
}
@media (min-width: 1904px){

}


/** MAX **/
@media (max-width: 1264px){
    body.sidebar-active #v-logo{
        @apply tw-hidden !important;
    }
}
@media (max-width: 1024px){

    /* Base Map */
    .base-map-list{
        max-width: 710px;
        margin-left: auto;
        margin-right: auto;
        @apply tw-justify-start;
    }
    .base-map-list a {
        width: 20%;
    }
}
@media (max-width: 992px){

    

    /* Base Map */
    .base-map-list{
        max-width: 520px;
    }
}
@media (max-width: 768px){
    
    :root {
        --sidebar-active-width: 376px;
    }

    
    #nav .nav-links > a{
        width: 14.2%;
        @apply tw-h-auto tw-justify-start tw-mb-5;
    }

    .dark-mode #nav,
    .dark-mode #sidebarComponentsDiv{
        @apply tw-bg-darkmodegray tw-text-white !important;
    }
    .dark-mode #nav .nav-links > a span{
        @apply tw-bg-transparent tw-border tw-border-gray-500;
    }

    body.toolbox-active #sidebar .mobile-toolbox-btn-wrap,
    body.basemap-active #sidebar .mobile-toolbox-btn-wrap{
        @apply tw-hidden;
    }
    body.sidebar-active #sidebar .mobile-toolbox-btn-wrap {
        margin-left: var(--sidebar-active-width);
    }
    body:not(.toolbox-active) #sidebar #nav{
        @apply tw-hidden;
    }
    body:not(.sidebar-active) #sidebar #sidebarComponentsDiv{
        @apply tw-hidden;
    }

    
    body:not(.sidebar-active) #sidebar > a.toggle-sidebar{
        @apply tw-hidden;
    }

    /** Sping btn **/
    .spin-btns{
        top: 175px;
    }
    
}
@media (max-width: 600px){

    #nav .nav-links > a{
        width: 20%;
    }
}
@media (max-width: 479px){
    
    /* Arrows */
    .panel .panel-heading:not(.right):before,
    .panel .panel-heading.right:after,
    .blue-arrow-right:after{
        width: 19px;
        height: 19px;
        line-height: 19px;
        background-size: 19px;
    }
    .panel.active .panel-heading:not(.right):before,
    .panel.active .panel-heading.right:after{
        line-height: 21px;
    }
    .blue-arrow-right:after{text-indent: 1px;}

    #nav .nav-links > a{
        width: 25%;
    }
    .base-map-list{
        max-width: 360px;
    }
    .base-map-list a {
        width: 33.333%;
    }

    body.sidebar-active #sidebar .mobile-toolbox-btn-wrap{
        @apply tw-hidden;
    }
    body.sidebar-active #sidebar #sidebarComponentsDiv > div{
        height: 80vh;
        padding-top: 45px;
    }
    #zoning-map-viewer{
        @apply tw-block tw-invisible;
    }

    .panel-fix-width{
        width: 100%;
    }
}
@media (max-width: 374px){

    #logoComponentsDiv .logo{max-width: 75px;}
    #logoComponentsDiv .logo-text{@apply tw-text-base;}
}